node_modules/
dist/
build/
release/
resources/
*.log
.env
.DS_Store
mapper.py
jsonToWebp.py
*.py
OnePageArchive.html
series-genres.json
series-genres.json
movies_genres.json
imdb_actors_map.json
movies_overview_fa.json
series_overview.json